# Copier en .env et adapter les valeurs
DEBUG=True
DJANGO_SECRET_KEY=votre-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL
DB_NAME=gestion_financiere
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
